<h1><center>Welcome to the House of Targaryen</center></h1>
<header>
   <div class="container">
     <a class="span3" href="/" id="logo">
       <img alt="Rails Girls Guides" src="C:/Users/SALIA/Picture/2.jpg">
     </a>
     <nav></nav>
   </div>
 </header>
<p></p>
